*.o
*.Po
*.a
*.so
*.so.*
*.so.*.*
.*.sw?
*~
.*.un~
Makefile.dep
*.ipch
*.bin
*.pch
*.exe
*.idb
*.pdb
*.suo
*.obj
*.dll
*.lib
*.tlog
visualc/**/*.log
unsuccessfulbuild
visualc/*.user
visualc/.vs
*.lastbuildstate
visualc/*.filters
*.FileListAbsolute.txt
docs/*.html
docs/*.js
docs/*.css
docs/*.png
docs/search
checks.json
docs/Aria.tag
README.html
docs/options
debian/debhelper-build-stamp
debian/ex
debian/files
debian/libaria3
debian/libaria3-dev
debian/*.substvars
debian/libaria3-doc
debian/libaria-utils
debian/source
debian/tmp
debian/.debhelper
tmp
versionstring
.vscode
!.vscode/tasks.json
utils/genCommandLineOptionDocs
utils/makeParams
