*.o
*.Po
*.a
*.so
.*.sw?
*~
Makefile.dep
*.ipch
*.bin
*.pch
*.exe
*.idb
*.pdb
*.suo
*.obj
*.dll
*.lib
*.tlog
visualc/**/*.log
unsuccessfulbuild
visualc/*.user
visualc/.vs
*.lastbuildstate
visualc/*.filters
*.FileListAbsolute.txt


