Source: libaria
Priority: optional
Maintainer: Reed Hedges <reed@interreality.org>
Build-Depends: debhelper-compat (= 13), g++, make, doxygen
Standards-Version: 4.5.1
Section: libs
Homepage: http://github.com/redhedges/AriaCoda
Vcs-Browser: http://github.com/reedhedges/AriaCoda
Vcs-Git: http://github.com/reedhedges/AriaCoda.git
Rules-Requires-Root: no

Package: libaria3-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libaria3 (= ${binary:Version}), ${misc:Depends}
Conflicts: libaria
Description: Development files (header files etc) for AriaCoda (libaria3) mobile robot interface library
 AriaCoda is a continuation of the ARIA C++ SDK for communicating with Adept/MobileRobots Pioneer-compatible mobile robots

Package: libaria3
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libaria
Description: AriaCoda (libaria3) SDK library for Adept/MobileRobots Pioneer-compatible platforms
 AriaCoda is a continuation of the ARIA C++ SDK for communicating with Adept/MobileRobots Pioneer-compatible mobile robots

Package: libaria3-doc
Architecture: all
Suggests: www-browser
Description: Library API reference documentation for AriaCoda (libaria3)
 
Package: libaria-utils
Architecture: any
Depends: libaria3 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Demo (ariaDemo) and utility programs (mtxPower, seekurPower) for AriaCoda (libaria3)
 AriaCoda is a continuation of the ARIA C++ SDK for communicating with Adept/MobileRobots Pioneer-compatible mobile robotsAriaCoda is a continuation of the ARIA C++ SDK for communicating with Adept/MobileRobots Pioneer-compatible mobile robots
